.container {
  display: flex;
  justify-content: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dateTimeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dateTimeContainerRow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.time {
  font-size: 14rem;
}

.date {
  font-size: 3.6rem;
}

.tempContainer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

.temp {
  font-size: 7.2rem;
}