.container {
  max-width: 780px;
  height: 90vh;

  margin: auto;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
}

.instruction {
  font-size: 3.6rem;
}

.timer {
  font-size: 2.4rem;
}

.code {
  font-size: 14.4rem;
  letter-spacing: 4rem;

  margin-top: 10rem;
}
